# DATABASE SETTINGS

USER_DATABASE=""
PASSWORD_DATABASE=""
HOST_DATABASE=""
PORT_DATABASE=""
NAME_DATABASE=""


DATABASE_URL=postgresql://${USER_DATABASE}:${PASSWORD_DATABASE}@${HOST_DATABASE}:${PORT_DATABASE}/${NAME_DATABASE}
ALGORITHM = "" 
SECRET_KEY = ""

ACCESS_TOKEN_EXPIRE_MINUTES=30